@page "/highscores/{championName}"
@using ChampionMasteryGg
@using Champion = Camille.Enums.Champion


<h3>@ChampionName</h3>

<div class="list-group animated--grow-in">
    <div class="list-group">
        @for (var i = 0; i < _highScores.Count; i++)
        {
            var entry = _highScores[i];
            var link = $"/{entry.Server.Abbreviation.ToLower()}/{entry.SummonerName}";
            <a href="@link" id="@(i + 1)" class="list-group-item list-group-item-action">#@(i + 1) - @entry.SummonerName - @string.Format("{0:n0}", entry.Score)</a>
        }
    </div>
</div>

@code {

    [Parameter]
    public string? ChampionName { get; set; }

    private List<HighscoreEntryViewModel> _highScores { get; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (ChampionName == null)
            return;

        using ChampionMasteryGgClient client = new();
        var highScores = await client.GetHighscoresAsync((int) Enum.Parse<Champion>(ChampionName, true));

        foreach (var entry in highScores)
            _highScores.Add(new HighscoreEntryViewModel(entry));
    }

}